certifi==2019.3.9
chardet==3.0.4
enum34==1.1.6
idna==2.8
requests==2.21.0
six==1.12.0
telebot==0.0.3
urllib3==1.24.1
vk-api==11.4.0
pyTelegramBotAPI==3.6.6
gunicorn==19.9.0
PySocks==1.6.8
python-telegram-bot==11.1.0